@import './normalize';
@import './settign';

@import './templates/header';
@import './templates/hero';
@import './templates/benefits';
@import './templates/routes';
@import './templates/choice';
@import './templates/photo';
@import './templates/video';
@import './templates/team';
@import './templates/questions';
@import './templates/dlc';
@import './templates/contacts';
@import './templates/footer';
@import './templates/modal';

@import './templates/swiper'
