.team{
    padding: 60px 0;
    &-title{
        margin-bottom: 50px;
    }
    &-items{
        display: flex;
        justify-content: space-between;
    }
    &-item{
        max-width: 403px;
        border-radius: 11px;
        background: #fff;
        display: flex;
        flex-direction: column;
        align-items: center;
        &__img{
            max-width: 503px;
            max-height: 325px;
            margin-bottom: 17px;
        }
        &__title{
            font-weight: 700;
            font-size: 24px;
            color: #037E8C;
            margin-bottom: 15px;
        }
        &__subtitle{
            font-weight: 400;
            font-size: 18px;
            color: #121214;
        }
        &__text{
            padding: 22px;
        }
    }
}